### use baseline 1 diag instead

In [1]:
import pandas as pd

In [2]:
sub1 = pd.read_csv('submission_baseline1.csv')
sub2 = pd.read_csv('submission_baseline2.csv')

In [6]:
sub3 = sub1.copy()
sub3.head()

   row_id  congestion
0  848835      49.230
1  848836      35.575
2  848837      53.745
3  848838      22.710
4  848839      69.555

In [7]:
test = pd.read_csv('test.csv')
test.head()

   row_id                 time  x  y direction
0  848835  1991-09-30 12:00:00  0  0        EB
1  848836  1991-09-30 12:00:00  0  0        NB
2  848837  1991-09-30 12:00:00  0  0        SB
3  848838  1991-09-30 12:00:00  0  1        EB
4  848839  1991-09-30 12:00:00  0  1        NB

In [ ]:
test['congestion'] = 0.0
for idx in test.index: